body {
  background-color: #252525;
  color: #fff;
  text-align: center;
  font-family: monospace;
}

.portfolio {
  padding: 13px;
  margin: 20px;
  border-radius: 4px;
  background-color: #e65d7f;
  color: #fff;
  border: 1.5px solid #fff;
}

.portfolio:hover {
  cursor: pointer;
  padding: 15px;
}
