body {
  background-color: #252525;
  color: #fff;
  text-align: center;
  font-family: monospace;
}

.portfolio {
  padding: 13px;
  margin: 20px;
  border-radius: 4px;
  background-color: #54436B;
  color: #fff;
  border: 1.5px solid #fff;
}
